src/main/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Dependency">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rules">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Dependency" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Name" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Package" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Package">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Component">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Rules" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Component" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="shape" use="optional"/>
            <xs:attribute type="xs:string" name="name" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Component" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="iteration"/>
        </xs:complexType>
    </xs:element>
</xs:schema>