src/main/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DependsOn">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Implements">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AnnotatedBy">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Package">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="rule" use="required"/>
                    <xs:attribute type="xs:byte" name="weight" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rules">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DependsOn" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Implements" minOccurs="0"/>
                <xs:element ref="AnnotatedBy" minOccurs="0"/>
                <xs:element ref="Name" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Package" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Component">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Rules" minOccurs="0"/>
                <xs:element ref="Component" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="shape" use="required"/>
            <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Component" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="iteration" use="required"/>
            <xs:attribute type="xs:string" name="basePackage" use="required"/>
            <xs:attribute type="xs:string" name="decomposition" use="optional" default="deep"/>
            <xs:attribute type="xs:string" name="optimization" use="optional" default="similarity"/>
        </xs:complexType>
    </xs:element>
</xs:schema>